doctype html
html(lang='en')
    head
        title search restautant info
    body
        #container
            .col
                .main-select#date Date
                    input(
                        type='date'
                        name='date'
                        min=new Date().toISOString().split('T')[0]
                    )
            .col
                .main-select#time Time
                    input(
                        type='text'
                        id='timezone'
                        placeholder=' -- : -- '
                    )
        .searchButton
            input(type="submit")
