doctype html
html(lang='en')
    head
        title search restautant info
    body
        select
            each variable in ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
                option(value=variable) #{variable}
        select
            -var n = 0
            while n <=24
                -var time = `${n}:00`
                option(value=time) #{time}
                -time=`${n}:30`
                option(value=time) #{time}
                -n++
        .searchButton
            input(type="submit")
